:root {
    /* COLORS */
    --white-color: #ffffff;
    --bg-color-primary: #f5f4fa;
    --bg-color-secondary: #2f303a;
    --text-color-primary: #757575;
    --text-color-secondary: #212121;
    --accent-color: #2196f3;
    --logo-second-color: #000000;
    /* ANIMATION PRESET */
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}