footer {
  background-color: var(--bg-color-secondary);
  padding: 60px 0;
}

.footer {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  color: var(--white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
  transition: color var(--animation);
}

.footer__logo:hover,
.footer__logo:focus {
  color: var(--accent-color);
}

footer a {
  color: rgba(255, 255, 255, 0.6);
}

.contacts__link {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.contacts__link {
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

address {
  margin-top: 20px;
}

address li {
  margin-bottom: 9px;
}

address li:last-of-type {
  margin-bottom: 0;
}

.footer__socials {
  margin-left: 70px;
}

/* FOOTER FORM */
.subscription {
  margin-left: auto;
}

.subscription__form {
  display: flex;
  margin-top: 20px;
}

.subscription__input {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  background-color: var(--bg-color-secondary);
  margin-right: 12px;
  outline: none;
}

.subscription__button {
  display: flex;
  border-radius: 4px;
  border: 1px solid transparent;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.icon-send {
  margin-left: 10px;
  fill: var(--white-color);
}
